.top-user {
    margin: 16px auto;
}

.top-user .table {
    width: 100%;
    border-collapse: collapse;
}

.top-user .table th,
.top-user .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}